<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.amazing2j.amz.dao.TCCDao">

    <select id="selectAllTCC" resultType="com.amazing2j.amz.entity.TCCEntity">
        SELECT *
        FROM TCC;
    </select>

    <select id="selectTCCById" parameterType="long" resultType="com.amazing2j.amz.entity.TCCEntity">
        SELECT *
        FROM TCC
        WHERE id = #{id};
    </select>

    <insert id="insertTCC" parameterType="com.amazing2j.amz.entity.TCCEntity" useGeneratedKeys="true" keyProperty="id">
        insert into TCC (try_url, confirm_url, cancel_url)
        values (#{tryUrl}, #{confirmUrl}, #{cancelUrl});
    </insert>
</mapper>