<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.amazing2j.amz.amz_server.mapper.TCCMapper">

    <select id="getLatestTCCTxId" resultType="java.lang.Long">
        SELECT DISTINCT tx_id
        FROM TCC
        ORDER BY create_at
        limit 1;
    </select>

    <select id="getTCCEntityByTxId" resultType="com.amazing2j.amz.amz_server.model.entity.TCCEntity" parameterType="long">
        SELECT *
        FROM TCC
        WHERE tx_id = #{txId};
    </select>
</mapper>