<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.amazing2j.amz.amz_server.mapper.TCCMapper">

    <select id="getLatestTCCTxId" resultType="java.lang.Long">
        SELECT DISTINCT tx_id
        FROM amz_TCC
        ORDER BY create_at limit 1;
    </select>

    <select id="getTCCEntityForUpdateByTxId" resultType="com.amazing2j.amz.amz_server.model.entity.TCCEntity"
            parameterType="long">
        SELECT *
        FROM amz_TCC
        WHERE tx_id = #{txId}
          AND tried_times <![CDATA[<=]]> 3
            FOR
                UPDATE;
    </select>

    <update id="updateTxBranchStatus">
        UPDATE amz_TCC
        SET branch_status = #{branchStatus}
        WHERE id = #{branchId}
    </update>

    <update id="setTxExecutor">
        UPDATE amz_TCC
        SET executor = #{executor}
        WHERE tx_id = #{txId}
    </update>

    <update id="unsetTxExecutor">
        UPDATE amz_TCC
        SET executor = null
        WHERE tx_id = #{txId}
    </update>

    <update id="incrTxTriedTimes">
        UPDATE amz_TCC
        SET tried_times = tried_times + 1
        WHERE tx_id = #{txId}
    </update>

    <update id="unsetTxTriedTimes">
        UPDATE amz_TCC
        SET tried_times = 0
        WHERE tx_id = #{txId}
    </update>
</mapper>