<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.amazing2j.amz.amz_client.mapper.TCCMapper">

    <select id="selectAllTCC" resultType="com.amazing2j.amz.amz_server.model.entity.TCCEntity">
        SELECT *
        FROM amz_TCC;
    </select>

    <select id="selectTCCByTxId" parameterType="long" resultType="com.amazing2j.amz.amz_server.model.entity.TCCEntity">
        SELECT *
        FROM amz_TCC
        WHERE tx_id = #{txId}
        ORDER BY branch_type;
    </select>

    <select id="selectTCCById" parameterType="long" resultType="com.amazing2j.amz.amz_server.model.entity.TCCEntity">
        SELECT *
        FROM amz_TCC
        WHERE id = #{id};
    </select>

    <insert id="insertTCC" parameterType="com.amazing2j.amz.amz_server.model.entity.TCCEntity" useGeneratedKeys="true"
            keyProperty="id">
        insert into amz_TCC (tx_id, url, branch_type, body_data)
        values (#{txId}, #{url}, #{branchType}, #{bodyData});
    </insert>

</mapper>